
<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="reset-container">
    <h1 class="text-center">Recuperar Contraseña</h1>

    <form *ngIf="!isCodeSent; else verifyCodeForm" (ngSubmit)="resetPassword()" [formGroup]="resetForm">
      <ion-item>
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-button expand="full" type="submit" [disabled]="!resetForm.valid">Enviar</ion-button>
    </form>

    <ng-template #verifyCodeForm>
      <form (ngSubmit)="verifyCode()" [formGroup]="verifyForm">
        <ion-item>
          <ion-label position="floating">Código de verificación</ion-label>
          <ion-input type="text" formControlName="code"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nueva Contraseña</ion-label>
          <ion-input type="password" formControlName="newPassword"></ion-input>
        </ion-item>
        <ion-button expand="full" type="submit" [disabled]="!verifyForm.valid">Verificar y Cambiar Contraseña</ion-button>
      </form>
    </ng-template>

    <div *ngIf="message" class="message">
      {{ message }}
    </div>
  </div>
</ion-content>
