<ion-header>
  <ion-toolbar>
    <ion-title>Registro de Asistencia</ion-title>
    <ion-icon class="icon" name="arrow-back" (click)="goBack()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="attendance-container">
    <h1 class="text-center">Asistencia</h1>
    <ion-progress-bar [value]="getAttendancePercentage() / 100" color="success"></ion-progress-bar>
    <p class="text-center">Alumnos presentes: {{ presentCount }} / {{ maxStudents }}</p>
  </div>
</ion-content>
