.login-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ion-padding{
  height: 100%;
  display: flex;
  align-items: center;
}

.text-center {
  text-align: center;
}
h1{
  color: black;
}
.links {
  gap: 1rem;
}
ion-input{
  width: 300px;
}

ion-button{
  color: black;
}
.error-message {
  color: white;
  background-color: red;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin-top: 10px;
}

#olvidar{
  color: black;
}

#registrarse{
  color: black;
  margin-right: 58px;
}
img{width: 150px;}