<ion-header>
  <ion-toolbar>
    <ion-title>Profesor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="student-dashboard">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Datos Personales</ion-card-title>
      </ion-card-header>
      <ion-card-content class="datos   flex items-center space-x-4">
        <ion-avatar class="h-20 w-20">
          <img src="assets/images/user.png" alt="{{ user?.name }} {{ user?.lastName }}" />
        </ion-avatar>
        <div>
          <p class="text-xl font-semibold">{{ user?.name }} {{ user?.lastName }}</p>
          <p class="text-gray-500">{{ user?.email }}</p>
          <p class="text-gray-500 capitalize">{{ user?.role }}</p>
        </div>
      </ion-card-content>
    </ion-card>

    <div class="generarQr">
      <ion-button class="btn" expand="full" fill="outline"  routerLink="/qr">Generar Qr</ion-button>
    </div>
    
    <div class="registroAsistencia">
      <ion-button class="btn" expand="full" fill="outline"  routerLink="/registro-asistencia">Registro Asistencia</ion-button>
    </div>

    <div class="flex justify-center">
      <ion-button class="btn" expand="full" fill="outline" (click)="logout()">Cerrar Sesión</ion-button>
    </div>
  </div>
</ion-content>
